.blocpage {
    /* border: 2px solid red; */
}

#create-news-form-bloc {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: -50px 200px 40px 200px;
    border: 1px solid red;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

#header-form-create {
    text-align: center;
    justify-content: center;
}

.elements-form {
    text-align: left;
    justify-content: left;
}

#create-form-buttons {
    text-align: center;
}

#create-form-buttons button {
    border: none;
    padding: 5px;
    color: white;
    background-color: #3577b4;
}

#create-form-buttons button:hover {
    background-color: #5f9bd4;
}

#profile-section {
    padding-bottom: 250px;
}

/* PAGE ADMINISTRATION */

#bloc-admin {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    border: 2px solid red;
}

#bloc-admin table {
    position: relative;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
}

/* PAGE AJOUT EPISODE */
#form-episode {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 0 20px 20px 20px;
}

#form-episode h1 {
    text-align: center;
}

#form-episode label {
    font-weight: bold;
}

#content-form-episode {
    margin: 0 100px;
}

#submit-form-episode {
    display: block;
    position: relative;
    right: 0;
}

/* PAGE PROFIL */
#profile-section {
    display: block;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
}