/* PAGE PROFIL */
#profile-section {
    display: block;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 200px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    overflow: hidden;
    padding: 20px;
    line-height: 1.5em;
}

#link-profile-bloc {
    display: flex;
    flex-direction: column;
    line-height: 2em;
    margin-top: 55px;
}

#link-profile-bloc a {
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    text-decoration: none;
}

#link-profile-bloc a:hover {
    color: black;
}

/* PAGE ADMINISTRATION */

#bloc-admin {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    border: 2px solid red;
    margin: 0 20px 20px 20px;
}

#bloc-admin table {
    border: 1px solid black;
    position: relative;
    margin: 20px auto;
    align-items: center;
    text-align: center;
    line-height: 2.5em;
}

#bloc-admin h1 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid black;
    margin: 20px auto;
    width: 600px;
    user-select: none;
}

#bloc-admin h2 {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    margin: 20px auto;
    width: 400px;
    list-style-type: none;
    user-select: none;
}

#chapter-table-admin a:not(#title-table-admin), #user-table-admin a, #flag-table-admin a, #add-episode-button a {
    text-decoration: none;
    border: 1px solid black;
	padding: 6px;
	border-radius: 2px;
	box-shadow: 1px 1px 3px #aaa;
	font: bold 13px Arial;
	color: #555;
}

#chapter-table-admin a:hover:not(#title-table-admin), #user-table-admin a:hover, #flag-table-admin a:hover, #add-episode-button a:hover {
    background-color: lightgray;
}

#add-episode-button {
    position: relative;
    width: 210px;
    left: 0;
}

#title-table-admin {
    text-decoration: none;
    color: #555;
}

/* 
#bloc-admin td {
    background-color: gray;
} */

#bloc-admin tr, #bloc-admin td {
    border: 1px solid black;
}

#bloc-admin td {
    padding: 0 60px;
}

/* PAGE AJOUT EPISODE */
#form-episode {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 0 20px 20px 20px;
}

#form-episode h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid black;
    margin: 20px auto;
    width: 600px;
    user-select: none;
}

#form-episode label {
    font-weight: bold;
}

#title-episode-form {
    width: 450px;
}

#content-episode-form {
    margin: 0 100px;
}

#submit-form-episode {
    text-decoration: none;
    border: 1px solid black;
	padding: 6px;
	border-radius: 2px;
	box-shadow: 1px 1px 3px #aaa;
	font: bold 13px Arial;
    color: #555;
    position: relative;
    left: 1350px;
}

#submit-form-episode:hover {
    background-color: lightgray;
}

/* #create-news-form-bloc {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: -50px 200px 40px 200px;
    border: 1px solid red;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

#header-form-create {
    text-align: center;
    justify-content: center;
}

.elements-form {
    text-align: left;
    justify-content: left;
}

#create-form-buttons {
    text-align: center;
}

#create-form-buttons button {
    border: none;
    padding: 5px;
    color: white;
    background-color: #3577b4;
}

#create-form-buttons button:hover {
    background-color: #5f9bd4;
} */

/* PAGE UPDATE PASSWORD */

#update-password-bloc {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    width: 400px;
    overflow: hidden;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5em;
    margin-top: -50px;
}

#password-submit-form {
    position: relative;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #aaa;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin: 10px;
}

#password-submit-form:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#update-password-bloc label, #update-password-bloc p {
    font-weight: bold;
}