body {
    background: url("image-fond.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    top: 0; 
    left: 0; 
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

/* BARRE DE NAVIGATION */
.summary {
    display: block;
    position: fixed;
    z-index: 100;
    width: 100%;
    margin: 0 auto;
    list-style-type: none;
}

.summary ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.9);
    /* box-shadow: 0 2px 2px rgba(255, 255, 255, 0.8); */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    transition-property: background-color, height;
    transition-duration: 1s;
}

.summary ul:hover {
    background-color: rgba(255, 255, 255, 1);
    height: 70px;
}

.summary li {
    display: inline-block;
    position: relative;
    border: none;
    list-style-type: none;
}

.summary a {
    display: inline-block;
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 10px;
    text-decoration: none;
    color: #212931;
    opacity: 0.7;
}

/* .home-nav:before, .home-nav:after {
    position: absolute;
    top: 8px;
    content: "-";
}

.home-nav:before {
    left: -3px;
}

.home-nav:after {
    right: -3px;
} */

.summary a:hover {
    text-decoration: none;
    color: #212931;
    background-color: rgba(0, 0, 0, 0.1);
}

.summary a:active {
    color: #212931;
}

.summary a:focus {
    color: #212931;
}

.last-episodes-nav {
    margin-right: 350px;
}

.site-search-nav {
    margin-right: 5px;
    border-radius: 8px;
} 

.register-nav, .connection-nav, .logout-nav {
    margin: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
}

.admin-nav, .profil-nav, .add-episode-nav {
    border: 1px solid gray;
}

/* HEADER : TITRE ET AUTEUR */
.title-framed {
    border: 4px solid white;
    width: 700px;
    padding: 20px 10px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 135px;
    user-select: none;
}

.book-title {
    font-weight: bold;
    text-align: center;
    font-style: normal;
    color: white;
    text-transform: uppercase;
}

.book-author {
    text-align: center;
    font-style: italic;
    font-size: medium;
    color: white;
}

/* PAGE SYNOPSIS */
#synopsis-bloc {
    position: relative;
    text-align: center;
    margin: 0 80px;

    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-name: slidein-synopsis;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-name: slidein-synopsis;
    -moz-animation-fill-mode: forwards;
    -moz-animation-duration: 1.5s;
    -moz-animation-name: slidein-synopsis;
}

@keyframes slidein-synopsis {
    from {
        margin-top: 200px;
    }

    to {
        margin-top: 0;
    }
}

@-webkit-keyframes slidein-synopsis {
    from {
        margin-top: 200px;
    }

    to {
        margin-top: 0;
    }
}

@-moz-keyframes slidein-synopsis {
    from {
        margin-top: 200px;
    }

    to {
        margin-top: 0;
    }
}

#synopsis-content {
    background-color: white;
    opacity: 80%;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px;
}

#synopsis-biography {
    background-color: white;
    opacity: 80%;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px;
}

/* PAGE APERCU DES PREMIERS EPISODES - ACCUEIL */
.episode-preview-bloc {
    position: relative;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 200px;
    width: 1200px;

    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-name: slidein-episods;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-name: slidein-episods;
    -moz-animation-fill-mode: forwards;
    -moz-animation-duration: 1.5s;
    -moz-animation-name: slidein-episods;
}

@keyframes slidein-episods {
    from {
        margin-top: 200px;
    }

    to {
        margin-top: 100px;
    }
}

@-webkit-keyframes slidein-episods {
    from {
        margin-top: 200px;
    }

    to {
        margin-top: 100px;
    }
}

@-moz-keyframes slidein-episods {
    from {
        margin-top: 200px;
    }

    to {
        margin-top: 100px;
    }
}

.episode-preview-bloc a:link {
    width: 500px;
    list-style-type: none;
    text-decoration: none;
}

.episode-preview {
    background-color: white;
    opacity: 80%;
    border-radius: 10px;
    cursor: pointer;
    height: 400px;
    overflow: hidden;
    margin-bottom: 30px;
}

.episode-preview:hover {
    opacity: 90%;
}

.episode-title-preview {
    text-transform: uppercase;
    font-size: 30px;
    color: #212931;
    text-align: center;
    overflow: hidden;
}

.episode-content-preview {
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    overflow: hidden;
    margin: 50px 10px 100px 10px;
}

.date-episode-preview {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    text-align: right;
    font-size: 14px;
    font-style: italic;
    margin-right: 20px;
}

/* Footer : Pagination */
#change-page {
    justify-content: center;
    z-index: 200;
}

#change-page ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    justify-content: center;
}

#change-page button {
    z-index: 200;
    color: black;
    background-color: white;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
}

#change-page button:hover {
    border: 1px solid black;
    background-color: gainsboro;
}

#change-page button:active {
    border: 1px solid black;
    background-color: grey;
}

.previous-episodes-button {
    margin-right: 10px;
}

/* PAGE EPISODE */
#episode-page-bloc {
    position: relative;
    display: block;
    margin: 110px 100px 0 100px;
    border-radius: 10%;
}

.episode-title {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.episode-content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 200px;
}

.episode-content p {
    color: #212931;
    text-align: justify;
    justify-content: center;
}

#edit-delete-episode {
    background-color: rgba(255, 255, 255, 0.9);
    text-align: right;
    margin: 0 auto;
    width: 1319px;
    padding: 20px;
}

#edit-delete-episode a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #aaa;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

#edit-delete-episode a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* PAGE EPISODE - PARTIE COMMENTAIRE */

/* #show-comments-button {
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
} */

/* .show-comments {
    background-color: rgba(255, 255, 255, 0.5);
} */

#comment-bloc {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px 100px 50px 100px;
    border-radius: 20px;
    padding: 20px;
}

#add-comment p {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

#comment-bloc h3 {
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    user-select: none;
}

#comment-form {
    display: block;
    margin-top: -15px;
}

#comment-content-form {
    position: relative;
    border: 4px solid #eeeeee;
    margin: 0 auto;
    width: 100%;
}

#comment-submit-form  {
    display: block;
    position: relative;
    text-align: center;
    left: 1205px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #aaa;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

#comment-submit-form:hover  {
    background-color: rgba(255, 255, 255, 0.5);
}

#show-comments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-div {
    line-height: 1.5em;
    margin-left: 20px;
}

.comment-username {
    font-weight: bold;
    font-size: 16px;
}

.comment-date {
    font-style: italic;
    font-size: 12px;
}

.comment-content {
    font-size: 16px;
}

.comment-options {
    align-self: center;
    display: flex;
    flex-direction: row;
}

#flag-comment-icon {
    color: white;
    background-color: navajowhite;
    border-radius: 10px;
    margin: 10px;
    padding: 5px 10px;
    font-size: 15px;
}

#edit-comment-icon {
    color: white;
    background-color: midnightblue;
    border-radius: 10px;
    margin: 10px;
    padding: 5px 10px;
    font-size: 15px;
}

#delete-comment-icon {
    color: white;
    background-color: orangered;
    border-radius: 10px;
    margin: 10px;
    padding: 5px 10px;
    font-size: 15px;
}

#flagged-comment {
    position: relative;
    color: grey;
    font-style: italic;
}

.comment-options a {
    text-decoration: none;
    color: black;
}

.comment-options a:hover {
    color: black;
    text-decoration: none;
}

#edit-form-comment {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    right: 0;
    margin: 0 80px;
    padding: 20px;
}

#edit-form-comment p {
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid black;
    margin: 20px auto;
    width: 400px;
    user-select: none;
}

/* PAGE REGISTER & LOGIN */

#register-section, #login-section {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    width: 300px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    line-height: 2em;
    margin-top: -50px;
}

#register-section label, #login-section label {
    font-weight: bold;
}

.submit-form {
    position: relative;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #aaa;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin: 10px;
}

.submit-form:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* Partie boutons changement d'épisode */

.change-episode-buttons {
    position: relative;
    text-align: right;
    margin: 10px 100px;
}

.previous-episode-button, .next-episode-button {
    padding: 10px;
    border-radius: 2px;
    text-align: center;
    border: none;
    color: white;
    background-color: #212931;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.previous-episode-button:hover, .next-episode-button:hover {
    background-color: #212931;
    opacity: 0.8;
}